name:  SonarCloud CI

#--------------------------------
# Gatilho(Trigger): Define quando o workflow ser谩 executado
#--------------------------------
on:
  push:
    branches:
      - main # Gatilho para pushes na branch main
  pull_request:
    types: [opened, synchronize, reopened] # Gatilho para pull requests


jobs:
  sonarcloud:
    name:  SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      # 1. Baixar o c贸digo-fonte do reposit贸rio
      - name:  Checkout do C贸digo
        uses: actions/checkout@v4
        with:
          # fetch-depth: 0 茅 OBRIGATRIO para an谩lises do SonarCloud
          # Ele garante que todo o hist贸rico do Git seja baixado para saber o que 茅 "New Code"
          fetch-depth: 0

      # 2. Configurar o ambiente Python
      - name:  Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'  # Vers茫o do Python utilizada no projeto

      # 3. Instalar depend锚ncias necess谩rias (inclusive pytest e coverage, se necess谩rio)
      - name:  Instalar Depend锚ncias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Roda os testes e gera o relat贸rio de cobertura
      # O Comando --cov=, calcula a cobertura do c贸digo na pasta especificada
      # O comando --cov-report=xml gera o relat贸rio em formato XML, necess谩rio para o SonarCloud
      - name: И Rodar Testes com Cobertura
        run: |
          pytest --cov=src --cov-config=.coveragerc --cov-report=term-missing --cov-report=xml:coverage.xml
          ls -lah coverage.xml

      # 5. Enviar an谩lise para o SonarCloud (a莽茫o recomendada)
      - name:  Analisar com SonarCloud
        uses: SonarSource/sonarqube-scan-action@v1
        env:
          SONAR_HOST_URL: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}





